{% extends 'lab3/html&css/template.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href='{% static 'styles/home.css' %}'>
{% endblock %}
<body>
{% block content %}
    <div class="banner-background">
        <div class="banner">
            <img class="banner-image" src='{% static "images/banner_1.png" %}'>
            <div class="banner-info">
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam turpis, commodo vel tortor at,
                    elementum
                    viverra nisi. Morbi lectus.</p>
                <button class="banner-button">BUY NOW</button>
            </div>
        </div>
    </div>
    <div class="collection-title">NEW COLLECTION</div>
    <div class="collection-container">
        <img src='{% static "images/collection1.jpg" %}'>
        <img src='{% static "images/collection3.jpg" %}'>
        <img src='{% static "images/collection2.jpg" %}'>
    </div>
{% endblock %}
</body>
</html>