{% extends 'lab3/html&css/template.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href='{% static 'styles/form.css' %}'>
{% endblock %}
{% block content %}
    <div class="form">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit" class="form-button">Добавить</button>
        </form>
    </div>
{% endblock %}
</html>